version: "3.9"
services:
  db:
    build:
      context: ./db/
      dockerfile: Containerfile
    image: p-hash-db
    networks:
      - p-hash-net
    ports:
      - "5432:5432"

  loader:
    build:
      context: ./load_image/
      dockerfile: Containerfile
    image: p-hash-load
    networks:
      - p-hash-net
    ports:
      - "8001:8000"
    environment:
      POSTGRESQL_HOST: db
      POSTGRESQL_PORT: 5432
      POSTGRESQL_PASSWORD: admin
    volumes:
      - ${HOME}/.local/share/p-hash/images:/root/.local/share/p-hash/images

  modifier:
    build:
      context: ./modify_image/
      dockerfile: Containerfile
    image: p-hash-mod
    networks:
      - p-hash-net
    ports:
      - "8002:8000"
    environment:
      POSTGRESQL_HOST: db
      POSTGRESQL_PORT: 5432
      POSTGRESQL_PASSWORD: admin
    volumes:
      - ${HOME}/.local/share/p-hash/images:/root/.local/share/p-hash/images
      - modified-images:/root/.cache/p_hash/mod_imgs

  hasher:
    build:
      context: ./hash_image/
      dockerfile: Containerfile
    image: p-hash-hash
    networks:
      - p-hash-net
    ports:
      - "8003:8000"
    environment:
      POSTGRESQL_HOST: db
      POSTGRESQL_PORT: 5432
      POSTGRESQL_PASSWORD: admin
    volumes:
      - modified-images:/root/.cache/p_hash/mod_imgs

  matcher:
    build:
      context: ./match_image/
      dockerfile: Containerfile
    image: p-hash-match
    networks:
      - p-hash-net
    ports:
      - "8004:8000"
    environment:
      POSTGRESQL_HOST: db
      POSTGRESQL_PORT: 5432
      POSTGRESQL_PASSWORD: admin

  orchestrator:
    build:
      context: ./orchestrator/
      dockerfile: Containerfile
    image: p-hash-orchestrator
    networks:
      - p-hash-net
    ports:
      - "8005:8000"
    environment:
      LOADER_URL: "http://loader:8000"
      MODIFIER_URL: "http://modifier:8000"
      HASHER_URL: "http://hasher:8000"
      MATCHER_URL: "http://matcher:8000"
networks:
  p-hash-net: {}
volumes:
  loader-images:
  modified-images:
